/* Algemeen stijlen */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

/* Stijlen voor de gebruikerslijst */
#listaUsuarios {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#listaUsuarios li {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

#listaUsuarios li:hover {
  transform: translateY(-5px);
}

/* Stijlen voor de gebruikersafbeeldingen */
#listaUsuarios img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Stijlen voor de gebruikersinformatie */
#listaUsuarios p {
  margin: 5px 0;
}

#listaUsuarios .name {
  font-weight: bold;
  font-size: 1.2em;
}

#listaUsuarios .username {
  color: #888;
}

#listaUsuarios .address {
  font-size: 0.9em;
  color: #555;
}

